/* global styles */
html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

/* Tablets */
@media (max-width: 1024px) {
    html {
        font-size: 56.25%;
        /* 1rem = 9px */
    }
}

/* Small Tablets and large phones */

@media (max-width: 768px) {
    html {
        font-size: 50%;
        /* 1rem = 8px */
    }
}

/* Phones */

@media (max-width: 425px) {
    html {
        font-size: 43.75%;
        /* 1rem = 7px */
    }
}


/* fixed width */
.fixed-width {
    width: 1050px;
    margin: 100px auto 0 auto;
}

/* articles page styles */
.articles-box {
    background-color: #f8fff1;
    width: 100%;
    height: 100%;
    /* border-radius: 10px; */
    padding: 5rem;
    margin-block-start: 10rem;
    margin-block-end: 2rem;
}

/* article details */
.image-wrapper {
    position: relative;
    width: 100%;
    height: 45rem;
    margin-block-end: 2rem;
}

.image-wrapper .article-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-wrapper .article-heading {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 3rem;
    line-height: 1.3;
    font-weight: bold;
    text-align: center;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.article-btn {
    background-color: transparent;
    border: none;
    outline: none;
    margin-block: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #ee7b0b;
    transition: all 0.3s ease;
}

.article-btn svg {
    transition: transform 0.3s ease;
}

.article-btn:hover svg {
    transform: translateX(4px);
}

/* dashboard */
.form-label {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}
.form-control{
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #ee7b0b;
}

.submit-btn{
    background-color: #ee7b0b;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    width: 10rem;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-block-start: 0.5rem;
}
.submit-btn:hover {
    background-color: #d66a0a;
    color: #fff;
}

.invalid-feedback{
    color: red;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 0.5rem;
}